
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

html {
	background-color: #e5e5e5
}
.col-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

h2 {
	font-family: 'Raleway', Sans-Serif;
	font-weight: 100;
}

h3 {
	font-family: 'Raleway', Sans-Serif;
	font-size: 20px;
}

h4 {
	Font-Family: 'Raleway', Sans-Serif;
	margin-bottom: 5px;
}



.nav-right {
	float: right;
	font-size: 16px;
}

.nav-right p {
	display: inline;
	margin: 5px;
}

.nav-right img,
#menu-name-wrapper img {
	width: 28px;
	padding: 0 5px;
	float: right;
}

main {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 0px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 30px 5px #888;
	position: relative;
	top: -100px;
	background: white;
	border-radius: 10px;
}

#content-wrapper {
	max-width: 920px;
	margin: auto;
}

main p {
	line-height: 1.5;
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	Font-Family: 'Open Sans', Sans-Serif;
	color: #474646;
}

main ul {
	list-style-type: none;
	padding: 0;
}
/* NAVIGATION */

nav {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

#nav-large {
	float: left;
	margin: 10px 0px 0 45px;
}

#nav-large ul {
	list-style: none;
	text-align: center;
}

#nav-large ul li {
	display: inline-block;
}

#nav-large ul li a,
.list__item a {
	padding: 5px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	margin: 0 11px;
	font-family: montserrat
}

#nav-large ul li a,
#nav-large a:after,
#nav-large a:before {
  transition: all .5s;
}

.underline {
	border: .5px solid;
}

.stroke ul li a {
	position: relative;
}

.stroke ul li a:after {
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.stroke ul li a:hover:after {
  width: 100%;
}

#nav-large ul li a:hover {
  color: #555;
}

nav a {
	text-decoration: none;
	color: #aaa;
	font-size: 20px;
}

#menu-name-wrapper {
	float: right;
	color: white;
	padding: 20px 55px 0 0;
	font-size: 14px;
}

#menu-name-wrapper p {
	margin: 5px;
	Font-Family: 'Open Sans', Sans-Serif;
	font-size: 16px;
}

#menu-container{
	transition: background-color 0.2s ease;
}

#menu-wrapper {
	padding-left: 21px;
}

.scrolling {
	transition: background-color 0.5s ease;
	background-color: #212121 !important;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(33, 33, 33, 0.46);
	z-index: 0;
}

#menu-horizontal {
	max-width: 1100px;
	height: 75px;
	margin: auto;
}

/* SPLASH BANNER */
#splash-banner {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://i.imgur.com/3r67swk.jpg') no-repeat center; 
	height: 890px;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: center center;
}

#splash-banner h1 {
	Font-Family: 'Raleway', Sans-Serif;
	color: cornsilk;
	font-size: 62px;
}

.splash-container {
	max-width: 840px;
	width: 85%;
	align-content: center;
	margin: 110px auto;
}

.splash-container p {
	font-size: 18px;
	line-height: 1.25;
	margin: 50px 0px;
	color: white;
	background: #474747ba;
	border-radius: 5px;
	padding: 25px;
	Font-Family: 'Raleway', Sans-Serif;
}

/* BUTTON STYLING */
.button {
	background: #78ab71;
	padding: 20px 40px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 24px;
	Font-Family: 'Open Sans', Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	}
.button:hover {
	border-top-color: #62c479;
	background: #62c479;

	}


.submit {
		border-top: 1px solid #0a0a0a;
		background: #3e9c62;
		margin: 5px;
		padding: 5px 10px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		box-shadow: rgba(0,0,0,1) 0 1px 0;
		text-shadow: rgba(0,0,0,.4) 0 1px 0;
		color: white;
		font-size: 24px;
		Font-Family: 'Open Sans', Sans-Serif;
		text-decoration: none;
		vertical-align: middle;
		}
 .submit:hover {
		background: #7af588;
		color: black;
		}
 .submit:active {
		border-top-color: #1b435e;
		background: #1b435e;
		}

/* LANDING PAGE */
.hidden {
	transition: display 0.2s ease;
	display: none;
}

.skills-container {
	margin: 50px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
}
.projects {
	padding: 15px;
}


.skills-container img {
	height: 50px;
	width: 50px;
}

section.skills.section {
	padding: 15px;
}

.skills-container h2 {
	padding: 10px;
	Font-Family: 'Open Sans', Sans-Serif;
	margin-right: 30px;
	margin-left: 95px;
}

.skills h2 {
	margin: 0px 20px;
}

.skills-item {
	margin: 25px auto;
	max-width: 250px;
	text-align: center;
}
.project-container {
	margin: 50px 0px;
}

.project-logo img {
	width: 85%;
	margin: auto;
	display: block;
}

.skills-item h3 {
	font-size: 22px;
}

.skills-item p {
	height: 200px;
}
.projects-container h3 {
	text-align: center;
}

.projects-container {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

#landing-overview h2 {
	font-size: 42px;
}

.projects {
	margin: 40px 10px;
}

.projects p {
	color: grey;
	height: auto;
}
.projects-thumbnail img {
	margin: auto;
	text-align: center;

}

/* ABOUT */

#about section {
	margin: 55px 0px;
}


#about h3 {
	font-size: 38px;
	margin-left: 25px;
}
#tech-section {
	padding-bottom: 75px;
}

#selfie {
	text-align: center;
}

#selfie img {
	border-style: none;
	max-width: 160px;
	width: 100%;
	transform: translate3d(0, -50%, 0);
	border-radius: 50%;
}

#about-title {
	text-align: center;
	margin: 40px 0px;
}

#about li {
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
}

.job-container {
	display: flex;
	flex-wrap: wrap;
	margin: 75px;
	max-width: 850px;
	margin: 55px auto;
}

.job-container::before{
	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 60px;
	border-bottom: 1px solid black;
}

.job-title {
	margin: auto;
	width: 100%
}

.job-title h4 {
	margin: 0;
}

.job-detail {
	margin: 20px auto;
	width: 80%;
}
.job-detail ul {
	list-style-type: none;
	max-width: 700px;
}

.job-detail li {
	padding: 5px 0;
	font-family: 'Open Sans', sans-serif;
}

.job-icon {
	width: 20%
}
.job-icon img {
	max-width: 100px;
	max-height: 100px;
	margin: 20px 5px;
}

.edu-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    margin: auto;
}

.edu-detail {
	margin: 0 10px;
}

.edu-icon {
	max-width: 100px;
	max-height: 150px;
	margin: 0 10px;
}


.tech-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 50px;
	justify-content: space-evenly;
	margin: auto;
}

.tech-icon {
	max-width: 100px;
	margin: 20px;
}

/* PROJECT PAGE VIEW */
#projects {
	border-left: 1px solid grey;
}
.project-detail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 25px;
}

.project-tech {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	width: 40%;
}

.project-tech ul {
	margin: 0 15px 0px 0px;
}
.project-tech h3 {
	width: 100%;
	margin: 1px 0px 1px 0;
}

.project-codebase {
	width: 50%;
}

.project-frontend-icons {
	align-items: center;
}

button.project-tech-btn {
		height: auto;
    padding: 5px 0px;
    width: 85px;
    margin: 0 5px;
    transition: all .3s;
    color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    background-color: #249784;
}

button.project-tech-btn:hover {
	cursor: pointer;
}

button.project-tech-btn:focus {
	background-color: red;
}

.highlight-red {
	background-color: #403f5c !important;
}

.project-tech-icons {
	display: flex;
	justify-content: center;
}
#projects-section {
	margin: 10px;
}

#projects-section header {
	margin-left: 10px;
}


#automate-info,
#tunein-info,
#sneakerlocker-info {
	background-color: #ececec;
	padding: 25px;
}

.project-tech-icons img {
	width: 100px;
	padding: 15px;
}

.project-info h2 {
	margin-bottom: 5px;
}

.project-info a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: purple;
	display: inline-block;
}

.project-info-wrapper {
	width: 40%;
}

.project-info h4 {
	margin-bottom: 5px;
}

.project-thumbnail img {
	width: 100%;
}

.project-buttons {
	display: flex;
	justify-content: center;
}

.project-tech li {
	line-height: 1.5;
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #474646;
}



.project-thumbnail {
	width: 50%;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 30px 1px #888;
}

.project-thumbnail button {
	cursor: pointer;
	border: none;
	display: block;
	margin: auto;
	padding: 0;
}

.project-thumbnail button:hover {
	transform: scale(1.1);
}

.project-tech-btn img {
	width: 30px;
	height: 30px;
	display: block;
	margin: 15px auto;
}


.project-info p {
	font-size: 30px;
	margin: 10px 0px;
}

/* CONTACT */

button.submit {
  width: 100%;
	display: block;
	margin: 10px auto;
}
.contact-wrapper img {
	width: 25px;
	margin-right: 5px;
	margin-top: 5px
}

.contact-wrapper li {
	padding: 15px 5px;
	display: flex;
	align-items: center;
}

.contact-container {
	max-width: 840px;
    width: 85%;
    align-content: center;
    margin: auto;
}

.contact-container p {
	font-size: 18px;
	color: white;
	max-width: 436px;
}
#contact-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	margin: 70px 20px;
}

#form-info {
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

#contact-form-wrapper label {
	Font-Family: 'Open Sans', Sans-Serif;
	
}

#form-info label {
	width: 35%;
	padding: 15px;
	display: inline-block;
}
#form-info input {
	font-size: 22px;
	padding: 5px;
	margin: 5px;
	width: 62%;
	display: inline-block;
}

#form-message {
	margin-top: 25px;
}

#form-message label {
	padding: 10px 0px;
}
#contact-info {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
}

#contact-form-wrapper {
	width: 50%;
}

#contact-form-wrapper form {
	max-width: 500px;
	padding: 5px;
	margin-top: 15px;
}

.contact-wrapper {
	text-align: left;
	padding: 10px 10px;
}

.contact-wrapper a:hover {
	color: red;
	font-size: 20px;
}
.contact-wrapper a {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
	Font-Family: 'Open Sans', Sans-Serif;
}

#email p {
	margin: 0;
	Font-Family: 'Open Sans', Sans-Serif;
	font-size: 14px;
	padding-top: 5px;
}

#contact-form-wrapper textarea {
	width: 100%;
	min-height: 200px;
	margin: 10px auto;
	display: block;
	max-width: 500px;
	font-size: 16px;
}
/* FOOTER */

.item {
	width: 100px;
	padding-top: 15px;
}

.item ul {
	list-style-type: none;
	padding: 0;
}

.item li {
	margin: 20px 0px;
	Font-Family: 'Open Sans', Sans-Serif;
	font-weight: 100;
}
.projects-section header h2 {
	padding: 10px 40px;
	font-size: 38px;
}

.item a {
	text-decoration: none;
	color: white;
}

footer {
	background-color: #212121;
	color: white;
	padding-bottom: 20px;
	position: absolute;
	width: 100%;
}

footer h3 {
	font-size: 18px;
}

footer .container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}


/* -------- MEDIA QUERIES --------------- */

@media(max-width: 550px) {

	nav a {
		font-size: 16px;
	}

	.nav-right p {
		font-size: 12px;
	}

	#selfie img {
		width: 125px;
	}

	.tech-icon {
		max-width:  75px;
	}

	#contact-info {
		width: 100%;
		margin-right: 15px;
	}

	#about-title h2 {
		font-size: 18px;
	}

	#about li {
		font-size: 14px;
	}

	#about h4 {
		font-size: 16px;
	}

	.project-tech-icons img {
		width: 75px;
	}

	.project-container::before{
		content: "";
		display: block;
		margin: 0 auto;
		width: 75%;
		margin-bottom: 60px;
		border-bottom: 1px solid black;
	}
	

	.job-icon {
		display: none;
	}

	.job-detail,
	#edu-section {
		width: 100%;
	}
	.job-icon img {
    max-width: 45px;
    max-height: 100px;
    margin: 20px 0px;
	}

	.project-info p {
		font-size: 20px;
	}

	#splash-banner {
		height: 800px;
	}

	#landing-overview h2 {
		font-size: 30px;
    margin: 15px;
    text-align: center;

	}

	#edu-section {
		padding: 25px;
		margin: 0 auto;
	}

	#about h3 {
		text-align: center;
	}

	.splash-container {
		max-width: 840px;
		width: 85%;
		align-content: center;
		margin: 50px auto;
	}

	.splash-container p {
		font-size: 14px;
	}

	.button {
		padding: 15px 20px;
		font-size: 16px;
	}

	.project-detail {
		padding: 10px;
	}

	.job-title,
	#contact-form-wrapper {
		width: 100%
	}

	.job-container {
		margin: 0px auto;
	}

	.project-thumbnail,
	.project-codebase,
	.project-tech {
		width: 100%
	}

	.project-thumbnail {
		margin: 20px;
	}

	.job-container {
		padding: 25px;
	}

	#menu-wrapper {
		padding-left: 0px;
		
	}

	.list__item a {
		font-size: 10px;
	}

	.col-2 {
		width: 100%;
		justify-content: left;
		margin-top: 0;
	}

	#form-info label {
		width: 40%
	}

	#splash-banner h1 {
		font-size: 42px;
	}
	
	.projects-container {
		flex-wrap: wrap
	}

	.projects p {
		text-align: center;
		padding: 0;
	}
	.edu-icon {
		display: none;
	}
	.projects-section header h2 {
    text-align: center;
}
}

@media(min-width: 551px) and (max-width: 767px){
	.col-2 {
		width: 100%;
		display: flex;
	}

	.projects p {
		text-align: center;
		padding: 0;
	}

	#landing-overview h2 {
    font-size: 34px;
		margin: 0;
		text-align: center;
}

.splash-container {
	max-width: 840px;
	width: 85%;
	align-content: center;
	margin: 50px auto;
}

	.job-container {
		padding: 25px;
	}

}

@media(min-width: 552px) and (max-width: 950px) {
.job-container {
		padding: 25px;
	}
	.project-thumbnail img{
		width: 100%;
	}

	.project-tech-btn {
		padding: 10px 10px;
		width: 80px;
	}

	.project-tech-btn img {
		width: 25px;
		height: 25px;
		margin: 10px auto;
	}
	.project-buttons,
	.project-tech-icons {
		justify-content: start;
	}

	.skills-container {
		width: 100%;
	}

	.skills-item {
		height: 100%;
		padding: 0;
		margin: 25px auto;
	}

	.skills-container h2 {
		margin: 30px 0 0 0;
		padding: 0;
		text-align: center;
	}
}


@media(max-width: 950px) {
	#nav-large {
		display: none;
	}
}

/* LARGE SCREEN */
@media screen and (min-width: 951px){
	.menu-list,
	.menu-icon-wrapper,
	svg {
		display: none;
	}
}
