* {
	box-sizing: border-box;
}


/* NAVIGATION */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
	top: 0;
	width: 100%;
}

nav li {
	float: right;
}

nav li.left {
	float: left;
}

nav li.left,
nav a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-right: 20px;
}

nav,
footer {
	background-color: #aaa;
}

nav select {
	display: none;
}

/* SPLASH BANNER */
#splash-banner {
	background: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center;
	background-size: cover;
	height: 300px;
	padding-top: 75px;
	text-align: center;

}

#splash-banner h1 {
	color: cornsilk;
}
/* -------- MEDIA QUERIES --------------- */

/* NAVIGATION */
@media(max-width: 550px) {

	.topnav {
		display: none;
	}

	nav select {
		display: inline-block;
		float: right;
	}

/* 
	main {
		margin-top: 220px;
	} */

}

